<style>
    body {
        text-align: center;
        margin: 0;
        padding: 0;
        background-image: url("https://github.com/jdot25560/jdot25560.github.io/clay-banks-1KPfcPdbWFM-unsplash.gpg.jpg");
        background-size: cover; /* or contain, based on your preference */
        background-position: center;
        background-attachment: fixed;
    }
    /* Rest of your CSS styles */
</style>
